.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
SeaSondeR.Rcheck/
SeaSondeR*.tar.gz
SeaSondeR*.tgz
inst/doc
/doc/
/Meta/
docs
r-reticulate

tools/CSS_SUNS_2025_02_17_060000.csr
tools/01-process.R
tools/MeasPattern.txt
results/range_info/CSS_SUNS_2025_02_17_060000.ctf
results/radial_metrics/CSS_SUNS_2025_02_17_060000.ruv
results/SeaSondeRCS/CSS_SUNS_2025_02_17_060000.RData
