{{#data}}
   {{LOND}}{{LATD}}{{VELU}}{{VELV}}{{VFLG}}{{RNGE}}{{BEAR}}{{VELO}}{{HEAD}}{{SPRC}}{{SPDC}}{{MSEL}}{{MSA1}}{{MDA1}}{{MDA2}}{{MEGR}}{{MPKR}}{{MOFR}}{{MP13}}{{MP23}}{{MSP1}}{{MDP1}}{{MDP2}}{{MSW1}}{{MDW1}}{{MDW2}}{{MSR1}}{{MDR1}}{{MDR2}}{{MA1S}}{{MA2S}}{{MA3S}}{{MEI1}}{{MEI2}}{{MEI3}}{{MDRJ}}{{PPFG}}{{PWFG}}
{{/data}}
