%CTF: 1.00
%FileType: LLUV rdls "RadialMap"
%LLUVSpec: 1.51  2021 07 01
%UUID: {{{UUID}}}
%Manufacturer: GOFUVI. SeaSondeR
%Site: {{{Site}}}
%TimeStamp: {{{TimeStamp}}}
%TimeZone: "{{{TimeZone}}}" {{{fHoursFromUTC}}} 0
%TimeCoverage: {{{TimeCoverage}}} Minutes
%Origin:  {{{Origin}}}
%GreatCircle: "WGS84" 6378137.000  298.257223562997
%GeodVersion: "CGEO" 1.00  2005 03 23
%LLUVTrustData: all %% all lluv xyuv rbvd
%Suite:
%RangeStart: {{{RangeStart}}}
%RangeEnd: {{{RangeEnd}}}
%RangeResolutionKMeters: {{{RangeResolutionKMeters}}}
%RangeCells: {{{RangeCells}}}
%DopplerCells: {{{DopplerCells}}}
%DopplerInterpolation: {{{DopplerInterpolation}}}
%AntennaBearing: {{{AntennaBearing}}} True
%ReferenceBearing: 0 True
%RiverBearing: 0.0 True
%PatternType: {{{PatternType}}}
%PatternDate: {{{PatternDate}}}
%PatternResolution: {{{PatternResolution}}} deg
%PatternSmoothing: {{{PatternSmoothing}}} deg
%PatternUUID: {{{PatternUUID}}}
%TransmitCenterFreqMHz: {{{TransmitCenterFreqMHz}}}
%TransmitBandwidthKHz: {{{TransmitBandwidthKHz}}}
%TransmitSweepRateHz: {{{TransmitSweepRateHz}}}
%FirstOrderMethod: 0  2 25
%BraggSmoothingPoints: 2
%CurrentVelocityLimit: 200.0
%BraggHasSecondOrder: 1
%RadialBraggPeakDropOff: {{{RadialBraggPeakDropOff}}}
%RadialBraggPeakNull: {{{RadialBraggPeakNull}}}
%RadialBraggNoiseThreshold: {{{RadialBraggNoiseThreshold}}}
%RadialSplitBraggRatio: 6.310 0
%RadialDCBlock: 5.000 1
%PatternAmplitudeCorrections: {{{PatternAmplitudeCorrections}}}
%PatternPhaseCorrections: {{{PatternPhaseCorrections}}}
%PatternAmplitudeCalculations:
%PatternPhaseCalculations:
%RadialMusicParameters: {{{RadialMusicParameters}}}
%FirstOrderCalc: 0
%TableType: LLUV RDM1
%TableColumns: {{{ncols}}}
%TableColumnTypes: LOND LATD VELU VELV VFLG RNGE BEAR VELO HEAD SPRC SPDC MSEL MSA1 MDA1 MDA2 MEGR MPKR MOFR MP13 MP23 MSP1 MDP1 MDP2 MSW1 MDW1 MDW2 MSR1 MDR1 MDR2 MA1S MA2S MA3S MEI1 MEI2 MEI3 MDRJ PPFG PWFG
%TableRows: {{{nrows}}}
%TableStart:
{{{data}}}
%TableEnd:

