%TableType: RNGI r001
%TableColumns: 11
%TableColumnTypes: SPRC RNGC NF01 NF02 NF03 ALM1 ALM2 ALM3 ALM4 NVSC NVDC NVAC 
%TableRows: {{TableRows}}
%TableStart: {{TableStart}}
%% Range  RadDist  NoiseA1 NoiseA2 NoiseA3   FOL N1  FOL N2   FOL P1  FOL P2   Single  Dual    All   
%%  Cell    (km)    (dBm)   (dBm)   (dBm)    DopIndx DopIndx  DopIndx DopIndx Vectors Vectors Vectors
{{#rows}}
{{row}}
{{/rows}}
%TableEnd: {{TableStart}}
